
<div class="clearfix">
    <h3 class="title-detail title-info-movi"> Upcoming Movies</h3>
    <!--<movie-widget ng-repeat="movie in movLst.upComingMovies | limitTo :11 | filter:serach.title" ng-show="movie.poster_path != null "></movie-widget>-->
    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-10 movie-gadget">
        <div class="row no-padder">
            <!--<a ng-click="movLst.DetailMovie(movie.id)" href="javascript:void(0)"> <img class="img-gadget" ng-src="{{movLst.urlImag + movie.poster_path}}}" /></a>-->
            <a href="javascript:void(0)"><img class="img-gadget" src="" /></a>
        </div>
        <div class="row gadget-content no-padder">
            <!--<label style="margin-top:10px"> {{movie.title}}</label>-->
            <label style="margin-top:10px"></label>
        </div>
    </div>
</div>