        <div class="container-fluid" ng-controller="LoginApiCtrl">
            <div class="row-fluid" ng-controller="MovieListCtrl as movLst">
                <div class="col-sm-2">

                </div><!--/span-->
                <div class="col-sm-12" ng-show="!movLst.ShowdetailMovie" >
                    <div class="jumbotron">
                        <h1>Web Movies</h1>
                        <p>This is a web application starter template built with AngularJS with an MVC structure</p>
                    </div>
                <div class="has-header dashboard" >
                    <div class="row banner no-padder" >
                        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-10 no-padder" >
                            <a href="#" class="thumbnail" >
                                <img class="img-banner" ng-src="{{movLst.mostRate.poster_path}}"/>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 movie-info-banner">
                            <a href="#">
                                <h3 class="title-movie">{{movLst.mostRate.original_title}}</h3>
                                <p class="movie-description">{{movLst.mostRate.overview}}</p>
                            </a>
                        </div>
                    </div>

                    <div class="row movies-content" >
                        <input  type="text" ng-model="serach.title" placeholder="search" class="search-model"/><br/>
                        <div class="clearfix">
                        <h3> Now Playing Movies</h3>
                        <movie-widget ng-repeat="movie in movLst.nowPlayingMovies | limitTo :11 | filter:serach.title" ng-show="movie.poster_path != null " ></movie-widget>
                        </div>
                        <div class="clearfix">
                        <h3> Upcoming Movies</h3>
                        <movie-widget ng-repeat="movie in movLst.upComingMovies | limitTo :11 | filter:serach.title" ng-show="movie.poster_path != null " ></movie-widget>
                        </div>
                    </div>
                </div>
                </div><!--/span-->
                <div ng-hide="!movLst.ShowdetailMovie" class="moviesDescription-content">
                      <a href="javascript:void(0)" ng-click="movLst.goBack()" class="btn btn-info">Back</a>
                      <div class="row banner no-padder" >
                           <h3 class="title-movie">{{movLst.detailMovie.original_title}}</h3>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 no-padder" >
                                <a href="#" class="thumbnail" >
                                    <img class="img-banner" ng-src="{{movLst.urlImag + movLst.detailMovie.poster_path}}"/>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 movie-info-banner">
                                <a href="#">
                                    <label>Average Raiting : {{movLst.detailMovie.vote_average}}/10/<ge</label>
                                    <p class="movie-description">{{movLst.detailMovie.overview}}</p>
                                </a>
                            </div>
                        </div>
                      <pre>{{movLst.detailMovie}} </pre>


                </div>
            </div><!--/row-->

        </div><!--/.fluid-container-->