        <div class="container-fluid" ng-controller="LoginApiCtrl">
            <div class="row-fluid">
                <div class="col-sm-2">

                </div><!--/span-->
                <div class="col-sm-12">
                    <div class="jumbotron">
                        <h1>Web Movies</h1>
                        <p>This is a web application starter template built with AngularJS with an MVC structure</p>
                    </div>
                <div class="has-header dashboard" ng-controller="MovieListCtrl as movLst">
                    <div class="row banner no-padder" >
                        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 no-padder" >
                            <a href="#" class="thumbnail" >
                                <img class="img-banner" ng-src="{{movLst.mostRate.poster_path}}"/>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 movie-info-banner">
                            <a href="#">
                                <h3 class="title-movie">{{movLst.mostRate.original_title}}</h3>
                                <p class="movie-description">{{movLst.mostRate.overview}}</p>
                            </a>
                        </div>
                    </div>

                    <div class="row movies-content" >
                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-10 movie-gadget" ng-repeat="movie in movLst.upComingMovies" ng-show="movie.poster_path != null ">



                           <div class="row no-padder">
                                <img class="img-gadget" ng-src="{{movLst.urlImag + movie.poster_path}}}"/>
                            </div>
                            <div class="row gadget-content no-padder">
                                <label style="margin-left: 40px;">Average </label> <label style="margin-left:5px"> {{movie.vote_average}}</label>
                            </div>

                        </div>
                    </div>
                </div>
                </div><!--/span-->
            </div><!--/row-->

        </div><!--/.fluid-container-->