<ion-content scroll="true">
    <div class="bar bar-header bar-positive">
        <div side="left">
            <button menu-toggle="left" class="menu-icon button button-icon icon ion-navicon"></button>
        </div>     
        <h1 class="title">Colab Center</h1>
    </div>
    <div class="has-header dashboard">
        <div class="row select-mobile">
            <div class="col-80">LATEST UPDATES</div>
            <div class="col-20 icon ion-refresh icon-big"></div>
        </div>
        
        <div class="row no-padder">
            <div id="thumbnail0" class="no-padder no-thumbnail-slider normal-slider royalSlider rsDefault" tb-images>
                <!-- lazy loaded image with thumbnail -->
                <a class="rsImg" href="http://placehold.it/767x312"></a>
                <a class="rsImg" href="http://placehold.it/767x312"></a>
            </div>
        </div>
        
        <div class="row select-mobile-2">
            <div class="col">
                <span class="price-xs">$475,000</span>
                <span class="house-state-xs">&emsp;Active</span>
                <br>
                <span class=" address-xs">1234 Graceland Street Sherman Oaks, CA 91423</span>
            </div>
        </div>
        
        <div class="row select-mobile-2 text-center no-padder">
            <div class="col-25 no-padder">
                <div class="bed-xs"></div>
                <span class="font-14">BEDS</span>
                <br><br>
                <span class="font-32">3</span>
            </div>
            <div class="col-25 no-padder">
                <div class="bath-xs m-t-xs"></div>
                <span class="font-14">BATHS</span>
                <br><br>
                <span class="font-32">3</span>
            </div>
            <div class="col-25 no-padder">
                <div class="sq-xs m-t-xs"></div>
                <span class="font-14">SQ FT</span>
                <br><br>
                <span class="font-32">3</span>
            </div>
            <div class="col-25 no-padder phone-container">
                <div class="phone-icon m-t-xs"></div>
            </div>
        </div>
        
        <div class="row">
            <span class="detail-title general-title">General Information</span>
        </div>        

        <div class="details no-padder">                                                    
            <div class="box-border-dot">
                <div class="row detail-line">                    
                    <div class="col-25">
                        <span>Beds</span>
                    </div>
                    <div class="col-25 no-padder">
                        <span>3 Bedrooms</span>
                    </div>                   
                    <div class="col-25">
                        <span>Baths</span>
                    </div>
                    <div class="col-25">
                        <span>2 Full, 1 Half</span>
                    </div>                    
                </div>
            </div>      
            <div class="box-border-dot">
                <div class="row detail-line">
                    <div class="col-25">
                        <span>Sq Ft</span>
                    </div>
                    <div class="col-25">
                        <span>1745 sq ft</span>
                    </div>                    
                    <div class="col-25">
                        <span>Lot Size</span>
                    </div>
                    <div class="col-25">
                        <span>.3 acres</span>
                    </div>                    
                </div>
            </div>
            <div class="box-border-dot">                    
                <div class="row detail-line">
                    <div class="col-25">
                        <span>Prop. Type</span>
                    </div>
                    <div class="col-25">
                        <span>Single Family</span>
                    </div>                                        
                    <div class="col-25">
                        <span>Year Built</span>
                    </div>
                    <div class="col-25">
                        <span>2005</span>
                    </div>                    
                </div>                                                                            
            </div>
        </div>
        
        <div class="row">
            <span class="detail-title">Interior Features</span>
        </div>        
        
        <div class="detail-information">            
            <div class="row">                    
                <div class="col-33">
                    <span>Appliane: Cook Top Gas</span>
                </div>
                <div class="col-33">
                    <span>Dishwasher</span>
                </div>
                <div class="col-33">
                    <span>Dual Pane Windows</span>
                </div>                    
            </div>
            <div class="row">                    
                <div class="col-33">
                    <span>Double Oven</span>
                </div>
                <div class="col-33">
                    <span>Wine Refrigarator</span>
                </div>
                <div class="col-33">
                    <span>Water: Public District</span>
                </div>
            </div>
            <div class="row">                
                <div class="col-33">
                    <span>Granite Countertops</span>
                </div>
                <div class="col-33">
                    <span>Ceiling Fans</span>
                </div>
                <div class="col-33">
                    <span>Tile</span>
                </div>                
            </div>
            <div class="row">                
                <div class="col-33">
                    <span>Util: 220 Volts</span>
                </div>
                <div class="col-33">
                    <span>Floor: Carpet</span>
                </div>
                <div class="col-33">
                    <span>Microwave</span>
                </div>                
            </div>
        </div>  
        
        <div class="row">
            <span class="detail-title">Exterior Construction</span>
        </div>        
        
        <div class="detail-information">            
            <div class="row">                
                <div class="col-33">
                    <span>Stucco</span>
                </div>
                <div class="col-33">
                    <span>Concrete Slab</span>
                </div>
                <div class="col-33">
                    <span>Decorative Stone</span>
                </div>                
            </div>            
        </div>

    </div>
    
    
    <div class="footer-details">
    </div>
    
</ion-content>